/* form */
body{
    /*background:#efefef;*/
	/*background-color:lightblue;*/
	background-image:url("beautiful-beach-wallpaper-island-scenery-wallpapers-widescreen-beaches-desktop.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	z-index: 1;
}
h2{
    color: #aff;
}
option {
      font-size: 15px;
}

.form-body{
    background:#fff;
    padding: 20px;
	width: 400px;
	z-index: 5;
	margin-top:-35px;
    border-radius: 45px;
}
.overlay {
    position: absolute;
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
 	opacity: 0.6;
  	transition: .5s ease;
  	background-color: #000;
}
.login-body{
	z-index: 999;
}
.innter-form{
	padding-top:20px;
}
.final-login li{
	width:28%;
}

.nav-tabs {
    border-bottom: solid #e64b3b;
}

.nav-tabs>li{
	color:#222;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color:#e64b3b;
    border: none;
    border-bottom-color: transparent;
	border-radius: 10px 10px 0px 0px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none;
    border-radius:none;
	text-transform:uppercase;
	font-size:15px;
}
.sa-innate-form input[type=text], input[type=password], input[type=file],
input[type=city],input[type=date],textarea, select, email{
    /*font-size:15px;
	padding:5px;
	border:1px solid#ccc;
	outline:none;*/
	width:100%;
	margin:1px 0;
}
/*.sa-innate-form input[type=text]:click, input[type=password]:click, input[type=file]:click,
input[type=city]:click,input[type=date]:click,textarea:click, select:click, email:click{
    font-size:15px;
	padding:5px;
	border:5px solid#555;
	width:100%;
	margin:8px 0;
}*/
.sa-innate-form input[type=submit]{
    border:1px solid #e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
}
.sa-innate-form input[type=submit]:hover{
	border:1px solid #db3b2b;
	background:#db3b2b;
	color:#fff;
}
	
.sa-innate-form button{
	border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px;
	font-size:15px;
	margin-top:5px;
	margin-left:135px;
	border-radius:5px;
}
.sa-innate-form button:hover{
	border:1px solid#db3b2b;
	background:#db3b2b;
	color:#fff;
}
